<html>
    <head>
        <link href=/assets/style.css type=text/css rel=stylesheet>
        <title>Page Title</title>
    </head>
    <body>
        <h1>My First Heading por EJS</h1>
        <h1>Imprimiendo el mensaje Hola <%= ID %> veces</h1>
        <% for (var i =1; i <=ID;  i++ ) { %>
            <p>Hola</p>
        <% } %>

    </body>
</html>
